In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(10)
marks = np.random.randint(86,100,(3,5))
marks

array([[95, 99, 90, 86, 87],
       [97, 98, 95, 99, 86],
       [99, 87, 96, 94, 95]])

In [25]:
df=pd.DataFrame(marks)
df

    0   1   2   3   4
0  95  99  90  86  87
1  97  98  95  99  86
2  99  87  96  94  95

In [17]:
df = pd.DataFrame(marks,columns=['english','maths','physics','chemistry','social'], index=['viji','naz','subbu'])
df# type(df)

       english  maths  physics  chemistry  social
viji        95     99       90         86      87
naz         97     98       95         99      86
subbu       99     87       96         94      95

In [19]:
marks1 = {'maths':[98,99,96], 'physics':[96,92,94],'chemistry':[98,97,95]}
marks1

{'maths': [98, 99, 96], 'physics': [96, 92, 94], 'chemistry': [98, 97, 95]}

In [23]:
x=np.array(marks1)
x, type(x)

(array({'maths': [98, 99, 96], 'physics': [96, 92, 94], 'chemistry': [98, 97, 95]},
       dtype=object),
 numpy.ndarray)

In [24]:
y=pd.DataFrame(marks1, index=['viji','naz','pgk'])
y

      maths  physics  chemistry
viji     98       96         98
naz      99       92         97
pgk      96       94         95